@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: row;
}

.menu{
    height: 100vh;
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
}

.menu-title{
    margin-top: 86px;
}

.menu-title span{
    font-size: 26pt;
    font-weight: bold;
    color: #ffffff;
}

.menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options-container, .menu-footer{
    height: 56px;
    width: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.menu-options-container:hover{
    background-color: #3D3D3D;
}

.menu-footer a{
    height: 56px;
    width: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #2E2E2E;
}

/* ==== CARDAPIO === */

.cardapio{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardapio-container{
    height: 90vh;
    width: 155vh;
    border: solid 2px #c4c4c4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    padding: 95px;
    gap: 110px;
}

.cadarpio-drinks{
    display: flex;
    flex-direction: column;
}

#cardapio-drinks-image{
    height: 195px;
    width: 195px;
    border-radius: 4px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
}

.cardapio-drinks-texts{
    height: 70px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    font-weight: bold;
    color: #2E2E2E;
}

/*=== ScrollBar ===*/
*::-webkit-scrollbar {

    width: 4px;               
  }
  
  *::-webkit-scrollbar-track { 
    background: #ffffff;
}
  
  *::-webkit-scrollbar-thumb {
    background-color: #3D3D3D;          
  }
